$white: #fff;

$lightBlue: #dbfcfe;
$lightGrey: rgb(160, 160, 160);
$linkColor: rgb(3, 21, 44);
$lightGreen: #90d4c5;

$darkBlue: rgb(8, 20, 49);
$darkGreen: #23554c;
$blue: #1c4f64;
$darkerBlue: #242c37;

$primaryFont: 'Barlow', sans-serif;
$secondaryFont: 'Fraunces', sans-serif;