@import 'variables';

@import 'reset';
@import 'base';
@import 'fonts';

@import 'queries';



body {
    font-size: 18px;
    font-family: $primaryFont;
}

* {
    box-sizing: border-box;
}

.logo {
    display: block;
    color: $white;
    text-decoration: none;
    font-weight: 900;
    font-size: 31px;
    letter-spacing: 3px;
    max-width: 168px;
    &_footer {
        color: darkGreen;
        margin: 0 auto 50px;
    }


}

.hero {
    .menu {
        @include md-max {
            flex-direction: column;
            background: #fff;
            position: absolute;
            left: 7%;
            top: 100px;
            width: 85%;
            box-shadow: 4px 4px 8px rgba(0,0,0,.3);
        }
        .menu__item:not(:last-child) {
            .menu__link {
                @include md-max {
                    margin: 0 0 5px;
                    padding: 15px;
                    color: $darkBlue;
                }
            }
        }
        
    }
}

.menu {
    display: flex;
    align-items: center;
    &__item:not(:last-child) {
        .menu__link {
            margin-right: 49px;
        }
    }
    &__link {
        text-decoration: none;
        color: #fff;
        display: block;
        position: relative;
        font-weight: 600;
        &_active {
            background-color: rgba(255,255,255, .3);
            padding: 19px 25px;
            border-radius: 40px;
            color: $lightBlue;
            font-family: $secondaryFont;
            text-transform: uppercase;
            transition: background-color .2s ease-in;
            &:hover {
                background-color: rgba(255,255,255, .4);
            }
        }
    }
    &_footer {
        margin: 0 auto auto;
        text-align: center;
        width: min-content;
        .menu {
            &__link {
                color: darkGreen;
            }
        }
    }
}

.hero {
    color: $white;
    height: 800px;
    background: url('../images/desktop/image-header.jpg') center center/cover no-repeat;
    &__navbar {
        width: 1355px;
        margin: auto;
        padding: 35px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include xxl-max {
            width: 90%;
        }
    }

    &__content {
        text-align: center;
        font-weight: 900;
        letter-spacing: 8.4px;
        font-size: 58px;
        margin-top: 76px;
        text-transform: uppercase;
        font-family: $secondaryFont;
        @include lg-max {
            font-size: 48px;
        }
    }

    &__arrow {
        margin-top: 102px;
    }
}

.about {
    &__row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include lg-max {
            flex-direction: column;
        }
        .about__box {
            width: 100%;
            &_text {
                @include lg-max {
                    order: 1;
                }
            }
            .about__inner {
                width: 64%;
                padding: 60px;
                @include lg-max {
                    width: 100%;
                    padding: 50px;
                    text-align: center;
                }
                .about__title {
                    font-size: 46px;
                    font-family: $secondaryFont;
                    font-weight: 900;
                    color: $darkBlue;
                }
                .about__descr {
                    margin: 60px 0;
                    font-size: 24px;
                    color: $lightGrey;
                }
                .about__link {
                    font-size: 24px;
                    font-weight: 900;
                    font-family: $secondaryFont;
                    text-transform: uppercase;
                    text-decoration: none;
                    color:$linkColor;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 110%;
                        height: 5px;
                        bottom: 0;
                        left: -5%;
                        z-index: -1;
                        border-radius: 40%;
                        opacity: .4;
                        transition: transform .2s ease-in;
                    }
                    &_yellow {
                        &::after {
                            background-color: yellow;
                        }
                    }
                    &_pink {
                        &::after {
                            background-color: pink;
                        }
                    }
                    &:hover::after {
                        transform: translateY(10px);
                    }
                }
            }
        }
        &:nth-child(odd) {
            .about__box {
                .about__inner {
                    margin-left: auto;
                    margin-right: 100px;
                    @include lg-max {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
        &:nth-child(even) {
            .about__box {
                .about__inner {
                    margin-left: 100px;
                    margin-right: auto;
                    @include lg-max {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.services {
    &__row {
        display: flex;
    }
    &__item {
        width: 100%;
        position: relative;
    }
    &__text {
        position: absolute;
        top: 67%;
        text-align: center;
        width: 100%;
        &_green {
            color: darkGreen;
        }
        &_blue {
            color: $blue;
        }
    }
    &__title {
        font-family: $secondaryFont;
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 36px;
    }
    &__descr {
        width: 50%;
        margin: 0 auto;
        font-weight: 500;
        line-height: 1.5;
    }
}

.testimonials {
    padding: 172px 0;
    text-align: center;
    &__title {
        font-size: 22px;
        font-family: $secondaryFont;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 5px;
        margin-bottom: 85px;
        color: $lightGrey;
    }
    &__row {
        display: flex;
        justify-content: center;
    }
    &__item {
        width: 26%;
        min-height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 30px;
    }
    &__img {
        width: 80px;
        margin: 0 auto 58px;
        img {
            border-radius: 100%;
        }
    }
    &__descr {
        margin: 0 auto auto;
        font-weight: 400;
        line-height: 1.7;
        font-size: 18px;
    }
    &__name {
        display: block;
        font-family: $secondaryFont;
        font-weight: 900;
        margin-bottom: 15px;
        font-size: 18px;
        margin-top: 20px;
    }
    &__from {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 14px;
        color: $darkerBlue;
    }
}

.projects {
    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.footer {
    min-height: 380px;
    background-color: $lightGreen;
    padding: 75px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}